### Importing standard libraries

In [1]:
import pandas as pd 
import nltk
import nltk.tokenize as tk 
import matplotlib.pyplot as plt
import re as re
import string
from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer
from wordcloud import WordCloud
import numpy as np
from nltk.tag import pos_tag
from nltk.tokenize import MWETokenizer 
from nltk.tokenize import word_tokenize
from nltk.corpus import wordnet

### Read the dataset

In [2]:
df = pd.read_csv("movie_scraping.csv")
df.head()

,title,overview,rating,genre
0,Puss in Boots: The Last Wish,Puss in Boots discovers that his passion for a...,86.0,"['Animation', 'Action', 'Adventure', 'Comedy',..."
1,M3GAN,A brilliant toy company roboticist uses artifi...,74.0,"['Science Fiction', 'Horror', 'Comedy']"
2,Avatar: The Way of Water,Set more than a decade after the events of the...,77.0,"['Science Fiction', 'Adventure', 'Action']"
3,The Enforcer,"A noir thriller set in Miami, the film follows...",70.0,"['Action', 'Thriller', 'Drama']"
4,Devotion,The harrowing true story of two elite US Navy ...,74.0,"['War', 'History', 'Drama']"

In [3]:
df.shape

(8000, 4)

In [4]:
df = df.dropna()

In [5]:
df

,title,overview,rating,genre
0,Puss in Boots: The Last Wish,Puss in Boots discovers that his passion for a...,86.0,"['Animation', 'Action', 'Adventure', 'Comedy',..."
1,M3GAN,A brilliant toy company roboticist uses artifi...,74.0,"['Science Fiction', 'Horror', 'Comedy']"
2,Avatar: The Way of Water,Set more than a decade after the events of the...,77.0,"['Science Fiction', 'Adventure', 'Action']"
3,The Enforcer,"A noir thriller set in Miami, the film follows...",70.0,"['Action', 'Thriller', 'Drama']"
4,Devotion,The harrowing true story of two elite US Navy ...,74.0,"['War', 'History', 'Drama']"
...,...,...,...,...
7995,The Librarian: Return to King Solomon's Mines,"After retrieving the Crystal Skull in Utah, Fl...",62.0,"['Fantasy', 'Action', 'Adventure']"
7996,Problem Child 3,Chapter 3 of the Problem Child trilogy feature...,46.0,['Comedy']
7997,The Wing or the Thigh?,"Charles Duchemin, a well-known gourmet and pub...",72.0,['Comedy']
7998,Point Blank,A nurse is forced to spring a wounded murder s...,60.0,"['Action', 'Thriller']"
7999,Like Mike 2: Streetball,Another young boy with 'hoop dreams' finds an ...,53.0,"['Family', 'Comedy', 'Fantasy']"

### Text Pre-Processing steps for 'genre' column

#### Removing '[]' from 'genre' column

In [6]:
pattern = '\[\]'
replace = ''

In [7]:
for ind in df.index:
    df['genre'][ind] = df['genre'][ind][1:-1]
#     print(df['genre'][ind])

C:\Users\dtpz2\AppData\Local\Temp/ipykernel_31356/4037682431.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['genre'][ind] = df['genre'][ind][1:-1]

In [8]:
df.head()

,title,overview,rating,genre
0,Puss in Boots: The Last Wish,Puss in Boots discovers that his passion for a...,86.0,"'Animation', 'Action', 'Adventure', 'Comedy', ..."
1,M3GAN,A brilliant toy company roboticist uses artifi...,74.0,"'Science Fiction', 'Horror', 'Comedy'"
2,Avatar: The Way of Water,Set more than a decade after the events of the...,77.0,"'Science Fiction', 'Adventure', 'Action'"
3,The Enforcer,"A noir thriller set in Miami, the film follows...",70.0,"'Action', 'Thriller', 'Drama'"
4,Devotion,The harrowing true story of two elite US Navy ...,74.0,"'War', 'History', 'Drama'"

### Text Pre-Processing steps for 'overview' column

In [9]:
pd.set_option('display.max_colwidth', None)
df['overview'].head()

0                                                 Puss in Boots discovers that his passion for adventure has taken its toll: He has burned through eight of his nine lives, leaving him with only one life left. Puss sets out on an epic journey to find the mythical Last Wish and restore his nine lives.
1                     A brilliant toy company roboticist uses artificial intelligence to develop M3GAN, a life-like doll programmed to emotionally bond with her newly orphaned niece. But when the doll's programming works too well, she becomes overprotective of her new friend with terrifying results.
2                           Set more than a decade after the events of the first film, learn the story of the Sully family (Jake, Neytiri, and their kids), the trouble that follows them, the lengths they go to keep each other safe, the battles they fight to stay alive, and the tragedies they endure.
3    A noir thriller set in Miami, the film follows an enforcer who discovers his femme fatale boss has branched out into cyber sex trafficking, putting a young runaway heâ€™s befriended at risk. He sacrifices everything to save the young girl from the deadly organization heâ€™s spent his life building.
4                                                                                                                                 The harrowing true story of two elite US Navy fighter pilots during the Korean War. Their heroic sacrifices would ultimately make them the Navy's most celebrated wingmen.
Name: overview, dtype: object

##### Define variable for tokenizer

In [10]:
mwe_tokenizer = MWETokenizer()

##### Create new column for processed text

In [11]:
df['cleaned_tokens'] = ''

##### Case conversion to lower case

In [12]:
for ind in df.index:
    lowerList = []
    lowerList.append(df['overview'][ind].lower())
    df['cleaned_tokens'][ind] = lowerList

C:\Users\dtpz2\AppData\Local\Temp/ipykernel_31356/2040180557.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cleaned_tokens'][ind] = lowerList

##### Checking if data was converted to lower case

In [13]:
df.head()

,title,overview,rating,genre,cleaned_tokens
0,Puss in Boots: The Last Wish,"Puss in Boots discovers that his passion for adventure has taken its toll: He has burned through eight of his nine lives, leaving him with only one life left. Puss sets out on an epic journey to find the mythical Last Wish and restore his nine lives.",86.0,"'Animation', 'Action', 'Adventure', 'Comedy', 'Family', 'Fantasy'","[puss in boots discovers that his passion for adventure has taken its toll: he has burned through eight of his nine lives, leaving him with only one life left. puss sets out on an epic journey to find the mythical last wish and restore his nine lives.]"
1,M3GAN,"A brilliant toy company roboticist uses artificial intelligence to develop M3GAN, a life-like doll programmed to emotionally bond with her newly orphaned niece. But when the doll's programming works too well, she becomes overprotective of her new friend with terrifying results.",74.0,"'Science Fiction', 'Horror', 'Comedy'","[a brilliant toy company roboticist uses artificial intelligence to develop m3gan, a life-like doll programmed to emotionally bond with her newly orphaned niece. but when the doll's programming works too well, she becomes overprotective of her new friend with terrifying results.]"
2,Avatar: The Way of Water,"Set more than a decade after the events of the first film, learn the story of the Sully family (Jake, Neytiri, and their kids), the trouble that follows them, the lengths they go to keep each other safe, the battles they fight to stay alive, and the tragedies they endure.",77.0,"'Science Fiction', 'Adventure', 'Action'","[set more than a decade after the events of the first film, learn the story of the sully family (jake, neytiri, and their kids), the trouble that follows them, the lengths they go to keep each other safe, the battles they fight to stay alive, and the tragedies they endure.]"
3,The Enforcer,"A noir thriller set in Miami, the film follows an enforcer who discovers his femme fatale boss has branched out into cyber sex trafficking, putting a young runaway heâ€™s befriended at risk. He sacrifices everything to save the young girl from the deadly organization heâ€™s spent his life building.",70.0,"'Action', 'Thriller', 'Drama'","[a noir thriller set in miami, the film follows an enforcer who discovers his femme fatale boss has branched out into cyber sex trafficking, putting a young runaway heâ€™s befriended at risk. he sacrifices everything to save the young girl from the deadly organization heâ€™s spent his life building.]"
4,Devotion,The harrowing true story of two elite US Navy fighter pilots during the Korean War. Their heroic sacrifices would ultimately make them the Navy's most celebrated wingmen.,74.0,"'War', 'History', 'Drama'",[the harrowing true story of two elite us navy fighter pilots during the korean war. their heroic sacrifices would ultimately make them the navy's most celebrated wingmen.]

##### Remove numbers and special characters

In [14]:
#remove numbers and special characters; only keep alphabets
pattern = '([^a-zA-Z ]+?)'

replace = ''

for ind in df.index:
    df['cleaned_tokens'][ind] = re.sub(pattern, replace, str(df['cleaned_tokens'][ind]))

C:\Users\dtpz2\AppData\Local\Temp/ipykernel_31356/1334246408.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cleaned_tokens'][ind] = re.sub(pattern, replace, str(df['cleaned_tokens'][ind]))

##### Checking if numbers and special characters were removed

In [15]:
df.head()

,title,overview,rating,genre,cleaned_tokens
0,Puss in Boots: The Last Wish,"Puss in Boots discovers that his passion for adventure has taken its toll: He has burned through eight of his nine lives, leaving him with only one life left. Puss sets out on an epic journey to find the mythical Last Wish and restore his nine lives.",86.0,"'Animation', 'Action', 'Adventure', 'Comedy', 'Family', 'Fantasy'",puss in boots discovers that his passion for adventure has taken its toll he has burned through eight of his nine lives leaving him with only one life left puss sets out on an epic journey to find the mythical last wish and restore his nine lives
1,M3GAN,"A brilliant toy company roboticist uses artificial intelligence to develop M3GAN, a life-like doll programmed to emotionally bond with her newly orphaned niece. But when the doll's programming works too well, she becomes overprotective of her new friend with terrifying results.",74.0,"'Science Fiction', 'Horror', 'Comedy'",a brilliant toy company roboticist uses artificial intelligence to develop mgan a lifelike doll programmed to emotionally bond with her newly orphaned niece but when the dolls programming works too well she becomes overprotective of her new friend with terrifying results
2,Avatar: The Way of Water,"Set more than a decade after the events of the first film, learn the story of the Sully family (Jake, Neytiri, and their kids), the trouble that follows them, the lengths they go to keep each other safe, the battles they fight to stay alive, and the tragedies they endure.",77.0,"'Science Fiction', 'Adventure', 'Action'",set more than a decade after the events of the first film learn the story of the sully family jake neytiri and their kids the trouble that follows them the lengths they go to keep each other safe the battles they fight to stay alive and the tragedies they endure
3,The Enforcer,"A noir thriller set in Miami, the film follows an enforcer who discovers his femme fatale boss has branched out into cyber sex trafficking, putting a young runaway heâ€™s befriended at risk. He sacrifices everything to save the young girl from the deadly organization heâ€™s spent his life building.",70.0,"'Action', 'Thriller', 'Drama'",a noir thriller set in miami the film follows an enforcer who discovers his femme fatale boss has branched out into cyber sex trafficking putting a young runaway hes befriended at risk he sacrifices everything to save the young girl from the deadly organization hes spent his life building
4,Devotion,The harrowing true story of two elite US Navy fighter pilots during the Korean War. Their heroic sacrifices would ultimately make them the Navy's most celebrated wingmen.,74.0,"'War', 'History', 'Drama'",the harrowing true story of two elite us navy fighter pilots during the korean war their heroic sacrifices would ultimately make them the navys most celebrated wingmen

##### Define stopwords

In [16]:
stopwords = list(stopwords.words('english'))

##### Define lemmatizer

In [17]:
lemmatizer = WordNetLemmatizer()

##### Word tokenization, Remove stopwords, Lemmatization.

In [18]:
#nltk.download('omw-1.4')

In [19]:
for ind in df.index:
    #tokenization
    tokens = mwe_tokenizer.tokenize(word_tokenize(str(df["cleaned_tokens"][ind])))
    #create list to temporarily store cleaned tokens later to append into new column 'cleaned_tokens'
    myList = []
    for i in tokens:
        #if token is not a stopword, lemmatize then append into list
        if i not in stopwords:      
            myList.append(lemmatizer.lemmatize(i, pos='v'))

    #put tokens list back into df by index
    df['cleaned_tokens'][ind]=myList

C:\Users\dtpz2\AppData\Local\Temp/ipykernel_31356/928196071.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cleaned_tokens'][ind]=myList

##### Checking the cleaned data

In [20]:
df.head()

,title,overview,rating,genre,cleaned_tokens
0,Puss in Boots: The Last Wish,"Puss in Boots discovers that his passion for adventure has taken its toll: He has burned through eight of his nine lives, leaving him with only one life left. Puss sets out on an epic journey to find the mythical Last Wish and restore his nine lives.",86.0,"'Animation', 'Action', 'Adventure', 'Comedy', 'Family', 'Fantasy'","[puss, boot, discover, passion, adventure, take, toll, burn, eight, nine, live, leave, one, life, leave, puss, set, epic, journey, find, mythical, last, wish, restore, nine, live]"
1,M3GAN,"A brilliant toy company roboticist uses artificial intelligence to develop M3GAN, a life-like doll programmed to emotionally bond with her newly orphaned niece. But when the doll's programming works too well, she becomes overprotective of her new friend with terrifying results.",74.0,"'Science Fiction', 'Horror', 'Comedy'","[brilliant, toy, company, roboticist, use, artificial, intelligence, develop, mgan, lifelike, doll, program, emotionally, bond, newly, orphan, niece, dolls, program, work, well, become, overprotective, new, friend, terrify, result]"
2,Avatar: The Way of Water,"Set more than a decade after the events of the first film, learn the story of the Sully family (Jake, Neytiri, and their kids), the trouble that follows them, the lengths they go to keep each other safe, the battles they fight to stay alive, and the tragedies they endure.",77.0,"'Science Fiction', 'Adventure', 'Action'","[set, decade, events, first, film, learn, story, sully, family, jake, neytiri, kid, trouble, follow, lengths, go, keep, safe, battle, fight, stay, alive, tragedies, endure]"
3,The Enforcer,"A noir thriller set in Miami, the film follows an enforcer who discovers his femme fatale boss has branched out into cyber sex trafficking, putting a young runaway heâ€™s befriended at risk. He sacrifices everything to save the young girl from the deadly organization heâ€™s spent his life building.",70.0,"'Action', 'Thriller', 'Drama'","[noir, thriller, set, miami, film, follow, enforcer, discover, femme, fatale, boss, branch, cyber, sex, traffic, put, young, runaway, hes, befriend, risk, sacrifice, everything, save, young, girl, deadly, organization, hes, spend, life, build]"
4,Devotion,The harrowing true story of two elite US Navy fighter pilots during the Korean War. Their heroic sacrifices would ultimately make them the Navy's most celebrated wingmen.,74.0,"'War', 'History', 'Drama'","[harrow, true, story, two, elite, us, navy, fighter, pilot, korean, war, heroic, sacrifice, would, ultimately, make, navys, celebrate, wingmen]"

Some words were still not lemmatized as they are not verbs and were not passed in lemmatizer

#### Lemmatizating the cleaned tokens by POS tagging each token.

Because the default NLTK lemmatization only accepts 1 tag as arguement, we have to define a function in order to lemmatize all the different types of tokens (Nouns, Verbs, Adjectives, Adverbs)

In [21]:
def get_wordnet_pos(tag):
    
    #if token is a noun
    if tag.startswith('N'):
        return wordnet.NOUN

    #if token is a verb
    elif tag.startswith('V'):
        return wordnet.VERB
        
    #if token is an adjective
    elif tag.startswith('J'):
        return wordnet.ADJ
    
    #if token is an adverb
    elif tag.startswith('R'):
        return wordnet.ADV

    #if the token is already in its root form
    else:
        return wordnet.NOUN # default return value for all other POS tags

##### Lematize tokens by finding their pos tag (NN, VB, JJ or RB) for every row in df, make new array to store lemmatized words

In [22]:
for ind in df.index:
    tokens_lem = []
    
#tag each token to their pos tag
    pos = nltk.pos_tag(df['cleaned_tokens'][ind])
#     print(pos)
    #apply the function to each token to get their pos tag & compile result into a list
    wordnet_tagged = list(map(lambda x: (x[0], get_wordnet_pos(x[1])), pos))
    #for each token in column, lemmatize according to their pos tag
    for word, tag in wordnet_tagged:
        
        tokens_lem.append(lemmatizer.lemmatize(word, tag))
        
        #append the list with lemmatized tokens into the df
        df['cleaned_tokens'][ind]=tokens_lem

C:\Users\dtpz2\AppData\Local\Temp/ipykernel_31356/1168755131.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cleaned_tokens'][ind]=tokens_lem

In [23]:
df['cleaned_tokens'].head

<bound method NDFrame.head of 0                                                                                                                                                                                                                                                                                                                                                                                                                           [pus, boot, discover, passion, adventure, take, toll, burn, eight, nine, live, leave, one, life, leave, puss, set, epic, journey, find, mythical, last, wish, restore, nine, live]
1                                                                                                                                                                                                                                                                                                                                                                       [brilliant, toy, company, roboticist, use, artificial, intelligence, develop, mgan, lifelike, doll, program, emotionally, bond, newly, orphan, niece, doll, program, work, well, become, overprotective, new, friend, terrify, result]
2                                                                                                                                                                                                                                                                                                                                                                                                                                     [set, decade, event, first, film, learn, story, sully, family, jake, neytiri, kid, trouble, follow, length, go, keep, safe, battle, fight, stay, alive, tragedy, endure]
3                                                                                                                                                                                                                                                                                                                                                             [noir, thriller, set, miami, film, follow, enforcer, discover, femme, fatale, bos, branch, cyber, sex, traffic, put, young, runaway, he, befriend, risk, sacrifice, everything, save, young, girl, deadly, organization, he, spend, life, build]
4                                                                                                                                                                                                                                                                                                                                                                                                                                                               [harrow, true, story, two, elite, u, navy, fighter, pilot, korean, war, heroic, sacrifice, would, ultimately, make, navys, celebrate, wingman]
                                                                                                                                                                                                                                                                                                         ...
7995    [retrieve, crystal, skull, utah, flynn, carsen, receive, map, mail, secret, location, king, solomon, mine, scroll, steal, judson, explain, power, key, solomon, book, assign, flynn, retrieve, map, map, useless, without, legend, piece, decipher, locate, volubilis, near, roman, ruin, morocco, flynn, head, casablanca, ruin, chase, group, mercenary, lead, general, samir, want, find, location, king, solomon, mine, flynn, teamsup, professor, emily, davenport, work, dig, escape, general, samir, men, travel, gedi, save, local, jomo, death, trio, face, dangerous, journey, wild, africa]
7996                                                                                                                                                                                                                                                                                                                                                                                                                                                         [chapter, problem, child, trilogy, feature, preteened, junior, love, classmate, wont, even, notice, notice, three, boy, rival, junior, mean, war]
7997                                                                                                                                                                                                                                                           [charles, duchemin, wellknown, gourmet, publisher, famous, restaurant, guide, wag, war, fast, food, entrepreneur, tri, catel, save, french, art, cook, agree, appear, talk, show, show, skills, name, food, wine, taste, confront, two, disaster, son, want, become, clown, rather, restaurant, tester, famous, charles, duchemin, lose, taste]
7998                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         [nurse, force, spring, wound, murder, suspect, hospital, man, brother, kidnap, pregnant, wife, want, make, trade]
7999                                                                                                                                                                                                                                                                                                                                                                                                                                                                          [another, young, boy, hoop, dream, find, old, pair, michael, jordans, sneaker, suddenly, play, ball, like, great, player, world]
Name: cleaned_tokens, Length: 7608, dtype: object>

In [24]:
# nltk.download('averaged_perceptron_tagger')

#### Spell checker to check if cleaned token is spelled correctly and correct them if it is wrong

In [25]:
from spellchecker import SpellChecker

def spell_checker(df, cleaned_tokens):
    spell = SpellChecker(language='en')
    for ind in df.index:
        tokens = df[cleaned_tokens][ind]
        corrected_tokens = []
        for token in tokens:
            corrected_token = spell.correction(token)
            corrected_tokens.append(corrected_token)
        df[cleaned_tokens][ind]= corrected_tokens
    return df

In [29]:
spell_checker(df, 'cleaned_tokens')

C:\Users\dtpz2\AppData\Local\Temp/ipykernel_31356/1200498947.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[cleaned_tokens][ind]= corrected_tokens

,title,overview,rating,genre,cleaned_tokens
0,Puss in Boots: The Last Wish,"Puss in Boots discovers that his passion for adventure has taken its toll: He has burned through eight of his nine lives, leaving him with only one life left. Puss sets out on an epic journey to find the mythical Last Wish and restore his nine lives.",86.0,"'Animation', 'Action', 'Adventure', 'Comedy', 'Family', 'Fantasy'","[pus, boot, discover, passion, adventure, take, toll, burn, eight, nine, live, leave, one, life, leave, puss, set, epic, journey, find, mythical, last, wish, restore, nine, live]"
1,M3GAN,"A brilliant toy company roboticist uses artificial intelligence to develop M3GAN, a life-like doll programmed to emotionally bond with her newly orphaned niece. But when the doll's programming works too well, she becomes overprotective of her new friend with terrifying results.",74.0,"'Science Fiction', 'Horror', 'Comedy'","[brilliant, toy, company, robotics, use, artificial, intelligence, develop, man, lifelike, doll, program, emotionally, bond, newly, orphan, niece, doll, program, work, well, become, overprotective, new, friend, terrify, result]"
2,Avatar: The Way of Water,"Set more than a decade after the events of the first film, learn the story of the Sully family (Jake, Neytiri, and their kids), the trouble that follows them, the lengths they go to keep each other safe, the battles they fight to stay alive, and the tragedies they endure.",77.0,"'Science Fiction', 'Adventure', 'Action'","[set, decade, event, first, film, learn, story, sully, family, jake, None, kid, trouble, follow, length, go, keep, safe, battle, fight, stay, alive, tragedy, endure]"
3,The Enforcer,"A noir thriller set in Miami, the film follows an enforcer who discovers his femme fatale boss has branched out into cyber sex trafficking, putting a young runaway heâ€™s befriended at risk. He sacrifices everything to save the young girl from the deadly organization heâ€™s spent his life building.",70.0,"'Action', 'Thriller', 'Drama'","[noir, thriller, set, miami, film, follow, enforcer, discover, femme, fatale, boy, branch, cyber, sex, traffic, put, young, runaway, he, befriend, risk, sacrifice, everything, save, young, girl, deadly, organization, he, spend, life, build]"
4,Devotion,The harrowing true story of two elite US Navy fighter pilots during the Korean War. Their heroic sacrifices would ultimately make them the Navy's most celebrated wingmen.,74.0,"'War', 'History', 'Drama'","[harrow, true, story, two, elite, u, navy, fighter, pilot, korean, war, heroic, sacrifice, would, ultimately, make, navy, celebrate, wingman]"
...,...,...,...,...,...
7995,The Librarian: Return to King Solomon's Mines,"After retrieving the Crystal Skull in Utah, Flynn Carsen receives a map in the mail with the secret location of King Solomon's Mines. When the scroll is stolen, Judson explains the power of the Key of Solomon's book and assigns Flynn to retrieve the map. The map is useless without the legend piece to decipher it, which is located in Volubilis near the Roman ruins in Morocco. Flynn heads to Casablanca to the ruins where he is chased by a group of mercenaries leaded by General Samir. They too want to find the location of King Solomon's mines. Flynn teams-up with Professor Emily Davenport working in the dig and they escape from General Samir and his men. While traveling to Gedi, they save the local Jomo from death and the trio faces a dangerous journey through the wild Africa.",62.0,"'Fantasy', 'Action', 'Adventure'","[retrieve, crystal, skull, utah, flynn, carmen, receive, map, mail, secret, location, king, solomon, mine, scroll, steal, hudson, explain, power, key, solomon, book, assign, flynn, retrieve, map, map, useless, without, legend, piece, decipher, locate, None, near, roman, ruin, morocco, flynn, head, casablanca, ruin, chase, group, mercenary, lead, general, samir, want, find, location, king, solomon, mine, flynn, teams, professor, emily, davenport, work, dig, escape, general, samir, men, travel, jedi, save, local, homo, death, trio, face, dangerous, journey, wild, africa]"
7996,Problem Child 3,"Chapter 3 of the Problem Child trilogy features pre-teened Junior in love with a classmate that won't even notice him, but does notice three other boys who are rivals to Junior. This means war!",46.0,'Comedy',"[chapter, problem, child, trilogy, feature, pretend, junior, love, classmate, wont, even, notice, notice, three, boy, rival, junior, mean, war]"
7997,The Wing or the Thigh?,"Charles Duchemin, a well-known gourmet and publisher of a famous restaurant guide, is waging a war against fast food entrepreneur Tri- catel to save the French art of cooking. After having agreed to appear on a talk show to show his skills in naming food and wine by taste, he is confronted with two disasters: his son wants to become a clown rather than a restaurant tester and he, the famous Charles Duchemin, has lost his taste!",72.0,'Comedy',"[charles, chemin, None, gourmet, publisher, famous, restaurant, guide, wag, war, fast, food, entrepreneur, tri, cartel, save, french, art, cook, agree, appear, talk, show, show, skills, name, food, wine, taste, confront, two, disaster, son, want, become, clown, rather, restaurant, tester, famous, charles, chemin, lose, taste]"
7998,Point Blank,A nurse is forced to spring a wounded murder suspect from the hospital when the manâ€™s brother kidnaps his pregnant wife and wants to make a trade.,60.0,"'Action', 'Thriller'","[nurse, force, spring, wound, murder, suspect, hospital, man, brother, kidnap, pregnant, wife, want, make, trade]"
7999,Like Mike 2: Streetball,Another young boy with 'hoop dreams' finds an old pair of Michael Jordan's sneakers and can suddenly play ball like the greatest player in the world.,53.0,"'Family', 'Comedy', 'Fantasy'","[another, young, boy, hoop, dream, find, old, pair, michael, jordans, sneaker, suddenly, play, ball, like, great, player, world]"

##### Checking the cleaned data

In [30]:
df.head()

,title,overview,rating,genre,cleaned_tokens
0,Puss in Boots: The Last Wish,"Puss in Boots discovers that his passion for adventure has taken its toll: He has burned through eight of his nine lives, leaving him with only one life left. Puss sets out on an epic journey to find the mythical Last Wish and restore his nine lives.",86.0,"'Animation', 'Action', 'Adventure', 'Comedy', 'Family', 'Fantasy'","[pus, boot, discover, passion, adventure, take, toll, burn, eight, nine, live, leave, one, life, leave, puss, set, epic, journey, find, mythical, last, wish, restore, nine, live]"
1,M3GAN,"A brilliant toy company roboticist uses artificial intelligence to develop M3GAN, a life-like doll programmed to emotionally bond with her newly orphaned niece. But when the doll's programming works too well, she becomes overprotective of her new friend with terrifying results.",74.0,"'Science Fiction', 'Horror', 'Comedy'","[brilliant, toy, company, robotics, use, artificial, intelligence, develop, man, lifelike, doll, program, emotionally, bond, newly, orphan, niece, doll, program, work, well, become, overprotective, new, friend, terrify, result]"
2,Avatar: The Way of Water,"Set more than a decade after the events of the first film, learn the story of the Sully family (Jake, Neytiri, and their kids), the trouble that follows them, the lengths they go to keep each other safe, the battles they fight to stay alive, and the tragedies they endure.",77.0,"'Science Fiction', 'Adventure', 'Action'","[set, decade, event, first, film, learn, story, sully, family, jake, None, kid, trouble, follow, length, go, keep, safe, battle, fight, stay, alive, tragedy, endure]"
3,The Enforcer,"A noir thriller set in Miami, the film follows an enforcer who discovers his femme fatale boss has branched out into cyber sex trafficking, putting a young runaway heâ€™s befriended at risk. He sacrifices everything to save the young girl from the deadly organization heâ€™s spent his life building.",70.0,"'Action', 'Thriller', 'Drama'","[noir, thriller, set, miami, film, follow, enforcer, discover, femme, fatale, boy, branch, cyber, sex, traffic, put, young, runaway, he, befriend, risk, sacrifice, everything, save, young, girl, deadly, organization, he, spend, life, build]"
4,Devotion,The harrowing true story of two elite US Navy fighter pilots during the Korean War. Their heroic sacrifices would ultimately make them the Navy's most celebrated wingmen.,74.0,"'War', 'History', 'Drama'","[harrow, true, story, two, elite, u, navy, fighter, pilot, korean, war, heroic, sacrifice, would, ultimately, make, navy, celebrate, wingman]"

##### Only keep rows with action, adventure and comedy genres

In [32]:
for genre_list in df['genre']:
    if "Action" not in genre_list and "Adventure" not in genre_list and "Comedy" not in genre_list:
        print(genre_list)
        df = df.drop(df[df['genre']==genre_list].index)

'Crime', 'Drama', 'Thriller', 'Horror'
'Crime', 'Drama', 'History', 'Thriller', 'TV Movie'
'Romance', 'Thriller', 'Drama'
'Drama', 'Fantasy', 'Romance', 'Science Fiction'
'Animation', 'Fantasy', 'Horror'
'Romance', 'Drama', 'Crime'
'Fantasy', 'Family'
'Crime', 'Drama', 'Science Fiction', 'Thriller'
'History', 'Drama', 'Thriller', 'Crime'
'Drama', 'History', 'Mystery', 'Thriller'

In [33]:
df = df.reset_index()

In [34]:
df.head()

,index,title,overview,rating,genre,cleaned_tokens
0,0,Puss in Boots: The Last Wish,"Puss in Boots discovers that his passion for adventure has taken its toll: He has burned through eight of his nine lives, leaving him with only one life left. Puss sets out on an epic journey to find the mythical Last Wish and restore his nine lives.",86.0,"'Animation', 'Action', 'Adventure', 'Comedy', 'Family', 'Fantasy'","[pus, boot, discover, passion, adventure, take, toll, burn, eight, nine, live, leave, one, life, leave, puss, set, epic, journey, find, mythical, last, wish, restore, nine, live]"
1,1,M3GAN,"A brilliant toy company roboticist uses artificial intelligence to develop M3GAN, a life-like doll programmed to emotionally bond with her newly orphaned niece. But when the doll's programming works too well, she becomes overprotective of her new friend with terrifying results.",74.0,"'Science Fiction', 'Horror', 'Comedy'","[brilliant, toy, company, robotics, use, artificial, intelligence, develop, man, lifelike, doll, program, emotionally, bond, newly, orphan, niece, doll, program, work, well, become, overprotective, new, friend, terrify, result]"
2,2,Avatar: The Way of Water,"Set more than a decade after the events of the first film, learn the story of the Sully family (Jake, Neytiri, and their kids), the trouble that follows them, the lengths they go to keep each other safe, the battles they fight to stay alive, and the tragedies they endure.",77.0,"'Science Fiction', 'Adventure', 'Action'","[set, decade, event, first, film, learn, story, sully, family, jake, None, kid, trouble, follow, length, go, keep, safe, battle, fight, stay, alive, tragedy, endure]"
3,3,The Enforcer,"A noir thriller set in Miami, the film follows an enforcer who discovers his femme fatale boss has branched out into cyber sex trafficking, putting a young runaway heâ€™s befriended at risk. He sacrifices everything to save the young girl from the deadly organization heâ€™s spent his life building.",70.0,"'Action', 'Thriller', 'Drama'","[noir, thriller, set, miami, film, follow, enforcer, discover, femme, fatale, boy, branch, cyber, sex, traffic, put, young, runaway, he, befriend, risk, sacrifice, everything, save, young, girl, deadly, organization, he, spend, life, build]"
4,5,Violent Night,"When a team of mercenaries breaks into a wealthy family compound on Christmas Eve, taking everyone inside hostage, the team isnâ€™t prepared for a surprise combatant: Santa Claus is on the grounds, and heâ€™s about to show why this Nick is no saint.",77.0,"'Action', 'Comedy', 'Crime', 'Thriller'","[team, mercenary, break, wealthy, family, compound, christmas, eve, take, everyone, inside, hostage, team, isn't, prepare, surprise, combatant, santa, claus, ground, hes, show, nick, saint]"

##### Remove 'overview' column as it is now irrelevant

In [35]:
df = df.drop(['overview', 'index'], axis=1)

In [36]:
df.head()

,title,rating,genre,cleaned_tokens
0,Puss in Boots: The Last Wish,86.0,"'Animation', 'Action', 'Adventure', 'Comedy', 'Family', 'Fantasy'","[pus, boot, discover, passion, adventure, take, toll, burn, eight, nine, live, leave, one, life, leave, puss, set, epic, journey, find, mythical, last, wish, restore, nine, live]"
1,M3GAN,74.0,"'Science Fiction', 'Horror', 'Comedy'","[brilliant, toy, company, robotics, use, artificial, intelligence, develop, man, lifelike, doll, program, emotionally, bond, newly, orphan, niece, doll, program, work, well, become, overprotective, new, friend, terrify, result]"
2,Avatar: The Way of Water,77.0,"'Science Fiction', 'Adventure', 'Action'","[set, decade, event, first, film, learn, story, sully, family, jake, None, kid, trouble, follow, length, go, keep, safe, battle, fight, stay, alive, tragedy, endure]"
3,The Enforcer,70.0,"'Action', 'Thriller', 'Drama'","[noir, thriller, set, miami, film, follow, enforcer, discover, femme, fatale, boy, branch, cyber, sex, traffic, put, young, runaway, he, befriend, risk, sacrifice, everything, save, young, girl, deadly, organization, he, spend, life, build]"
4,Violent Night,77.0,"'Action', 'Comedy', 'Crime', 'Thriller'","[team, mercenary, break, wealthy, family, compound, christmas, eve, take, everyone, inside, hostage, team, isn't, prepare, surprise, combatant, santa, claus, ground, hes, show, nick, saint]"

##### Convert 'cleaned_tokens' from list to string

Remove rows with 'None' values

In [38]:
df['cleaned_tokens'] = df['cleaned_tokens'].apply(lambda x: list(filter(None, x)))

In [39]:
# # for ind in df.index:
# #     df['cleaned_tokens'] = df['cleaned_tokens'].apply(lambda x: ' '.join(x))
df['cleaned_tokens'] = df['cleaned_tokens'].apply(lambda x: ' '.join(x))

In [40]:
df.head()

,title,rating,genre,cleaned_tokens
0,Puss in Boots: The Last Wish,86.0,"'Animation', 'Action', 'Adventure', 'Comedy', 'Family', 'Fantasy'",pus boot discover passion adventure take toll burn eight nine live leave one life leave puss set epic journey find mythical last wish restore nine live
1,M3GAN,74.0,"'Science Fiction', 'Horror', 'Comedy'",brilliant toy company robotics use artificial intelligence develop man lifelike doll program emotionally bond newly orphan niece doll program work well become overprotective new friend terrify result
2,Avatar: The Way of Water,77.0,"'Science Fiction', 'Adventure', 'Action'",set decade event first film learn story sully family jake kid trouble follow length go keep safe battle fight stay alive tragedy endure
3,The Enforcer,70.0,"'Action', 'Thriller', 'Drama'",noir thriller set miami film follow enforcer discover femme fatale boy branch cyber sex traffic put young runaway he befriend risk sacrifice everything save young girl deadly organization he spend life build
4,Violent Night,77.0,"'Action', 'Comedy', 'Crime', 'Thriller'",team mercenary break wealthy family compound christmas eve take everyone inside hostage team isn't prepare surprise combatant santa claus ground hes show nick saint

##### Write to a new csv file

In [41]:
df.to_csv('movie_scraping_cleaned.csv',index=False)

In [42]:
df = pd.read_csv("movie_scraping_cleaned.csv")
df

,title,rating,genre,cleaned_tokens
0,Puss in Boots: The Last Wish,86.0,"'Animation', 'Action', 'Adventure', 'Comedy', 'Family', 'Fantasy'",pus boot discover passion adventure take toll burn eight nine live leave one life leave puss set epic journey find mythical last wish restore nine live
1,M3GAN,74.0,"'Science Fiction', 'Horror', 'Comedy'",brilliant toy company robotics use artificial intelligence develop man lifelike doll program emotionally bond newly orphan niece doll program work well become overprotective new friend terrify result
2,Avatar: The Way of Water,77.0,"'Science Fiction', 'Adventure', 'Action'",set decade event first film learn story sully family jake kid trouble follow length go keep safe battle fight stay alive tragedy endure
3,The Enforcer,70.0,"'Action', 'Thriller', 'Drama'",noir thriller set miami film follow enforcer discover femme fatale boy branch cyber sex traffic put young runaway he befriend risk sacrifice everything save young girl deadly organization he spend life build
4,Violent Night,77.0,"'Action', 'Comedy', 'Crime', 'Thriller'",team mercenary break wealthy family compound christmas eve take everyone inside hostage team isn't prepare surprise combatant santa claus ground hes show nick saint
...,...,...,...,...
4400,The Librarian: Return to King Solomon's Mines,62.0,"'Fantasy', 'Action', 'Adventure'",retrieve crystal skull utah flynn carmen receive map mail secret location king solomon mine scroll steal hudson explain power key solomon book assign flynn retrieve map map useless without legend piece decipher locate near roman ruin morocco flynn head casablanca ruin chase group mercenary lead general samir want find location king solomon mine flynn teams professor emily davenport work dig escape general samir men travel jedi save local homo death trio face dangerous journey wild africa
4401,Problem Child 3,46.0,'Comedy',chapter problem child trilogy feature pretend junior love classmate wont even notice notice three boy rival junior mean war
4402,The Wing or the Thigh?,72.0,'Comedy',charles chemin gourmet publisher famous restaurant guide wag war fast food entrepreneur tri cartel save french art cook agree appear talk show show skills name food wine taste confront two disaster son want become clown rather restaurant tester famous charles chemin lose taste
4403,Point Blank,60.0,"'Action', 'Thriller'",nurse force spring wound murder suspect hospital man brother kidnap pregnant wife want make trade
4404,Like Mike 2: Streetball,53.0,"'Family', 'Comedy', 'Fantasy'",another young boy hoop dream find old pair michael jordans sneaker suddenly play ball like great player world

In [43]:
df.head()

,title,rating,genre,cleaned_tokens
0,Puss in Boots: The Last Wish,86.0,"'Animation', 'Action', 'Adventure', 'Comedy', 'Family', 'Fantasy'",pus boot discover passion adventure take toll burn eight nine live leave one life leave puss set epic journey find mythical last wish restore nine live
1,M3GAN,74.0,"'Science Fiction', 'Horror', 'Comedy'",brilliant toy company robotics use artificial intelligence develop man lifelike doll program emotionally bond newly orphan niece doll program work well become overprotective new friend terrify result
2,Avatar: The Way of Water,77.0,"'Science Fiction', 'Adventure', 'Action'",set decade event first film learn story sully family jake kid trouble follow length go keep safe battle fight stay alive tragedy endure
3,The Enforcer,70.0,"'Action', 'Thriller', 'Drama'",noir thriller set miami film follow enforcer discover femme fatale boy branch cyber sex traffic put young runaway he befriend risk sacrifice everything save young girl deadly organization he spend life build
4,Violent Night,77.0,"'Action', 'Comedy', 'Crime', 'Thriller'",team mercenary break wealthy family compound christmas eve take everyone inside hostage team isn't prepare surprise combatant santa claus ground hes show nick saint